= form_for(@user) do |f| 
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        \. Invalid registration.
      %ul
        - @user.errors.full_messages.each do |msg|
          %li
            = msg
  - if notice 
    %p{ :id => "notice" }
      = notice

  .field
    = f.label :full_name 
    = f.text_field :full_name 
  .field
    = f.label :email_address 
    = f.text_field :email_address 
  .field
    = f.label :username 
    = f.text_field :username 
  .field
    = f.label :password 
    = f.password_field :password, :size => 40
  .field
    = f.label :password_confirmation 
    = f.password_field :password_confirmation, :size => 40 
  .field
    = f.label :phone 
    = f.text_field :phone 
  .field
    = f.label :birthday 
    = f.date_select(:birthday, :start_year => 1920, :end_year => 2000) 
  %br
  = show_simple_captcha
  %br
  .actions
    = f.submit :class => "btn btn-info"
