%h1 
  Please enter the following information to change your password
%br

- if notice
  %p{ :id => "notice" } 
    = notice

= form_tag do 
  %fieldset
    %legend
      Change Password
    .field
      = label_tag 'Old password:'
      = password_field_tag :old_password, params[:old_password]
    .field
      = label_tag :new_password, 'New password:'
      = password_field_tag :new_password, params[:new_password] 
    .field
      = label_tag :confirm_password, 'New password confirmation:'
      = password_field_tag :confirm_password, params[:confirm_password]
    = submit_tag "Change", :class => "btn btn-info"