<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>User List</h1>
<table>
  <tr class="user">
    <th>Email address</th>
    <th>Username</th>
    <th>Phone</th>
    <th>Full name</th>
    <th>Birthday</th>
    <th>Account creation date</th>
    <th>Activation</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="user">
    <td><%= user.email_address %></td>
    <td><%= user.username %></td>
    <td><%= user.phone %></td>
    <td><%= user.full_name %></td>
    <td><%= user.birthday %></td>
    <td><%= user.account_creation_date %></td>
    <td><%= user.activation %></td>
    <td><%= user.role %></td>
    <td>
        <% if user.role == "admin" %>
            <%= link_to image_tag("arrow_down.jpg"), downgrade_path(user.id.to_s) %>
        <% else %>
            <%= link_to image_tag("arrow_up.jpeg"), upgrade_path(user.id.to_s) %>   
        <% end %>
    </td>
    <td>
        <% if !user.activation && !user.tokenized_code.empty? %>
            <%= link_to 'Activate', activate_path(user.tokenized_code) %>
        <% end %>
    </td>
    <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
