<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if @resetting %>
Account <%= @user.username %>'s password
has been resetted with code <%= @code %>

<%= form_for(@user, :url => password_reset_result_path, method: :post) do |f| %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Reset password", class: "btn btn-info" %>
  </div>
<% end %>

<% else %>
Fake token <%= @code %>
<% end %>