%h1 Please enter the following information to reset your password
%br
- if notice
  %p{ :id => "notice" } 
    = notice

= form_for(@user, :url => {:action => "password_reset"}, :method => :post) do |f|
  .field
    = f.label :username 
    = f.text_field :username 
  .field
    = f.label :email_address 
    = f.text_field :email_address  
  %br
  = show_simple_captcha
  %br
  .actions
    = f.submit "Reset", :class => "btn btn-info" 