- if notice
  %p{ :id => "notice" }
    = notice 
    
%h1 Book List 
%table
  = link_to '+ New Book', new_book_path
  - @books.each do |book|
    %tr{ :class => cycle('list_line_odd', 'list_line_even') }
      %td
        = image_tag(book.photo_url, :class => 'list_image')
      %td      
        - @rating = (book.total_rating_count == 0 ? 0 : book.total_rating_value / book.total_rating_count).round
        .left
          = render 'comments/stars'
          %br
        %p 
          by 
          = book.author_name
      %td{ :class => "list_description" } 
        %dl
          %dt
            = book.title
          %dd
            = truncate(strip_tags(book.description), length: 80)
      %td{ :class => "list_actions" }
        = link_to 'Show', book
        %br
        = link_to 'Edit', edit_book_url(book)
        %br
        = link_to 'Delete', book, confirm: 'Are you sure?', method: :delete 

%br
%p
  = will_paginate @books