<h1>Book List</h1>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<table>

<% @books.each do |book| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= image_tag(book.photo_url, :class => 'list_image') %></td>
    <td class="list_description">  
      <dl>
        <dt><%= book.title %></dt>
        <dd><%= truncate(strip_tags(book.description), length: 80) %></dd>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Show', book %><br/>
      <%= link_to 'Delete', book, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
<p> <%= will_paginate @books %> </p>