<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= @book.title %></h1>

<%= image_tag(@book.photo_url, :class => 'detail_image') %>
by <b><%= @book.author_name %></b> <br />
<div class="star static">
  <div class="star-filled left">
    <b></b>
  </div>
  <div class="star-empty">
    <b></b>
  </div>
</div>
<div class="left">Average Rating: <%= number_with_precision(@average_rating, precision: 2) %></div>   
<p>| Rating count: <%= number_with_precision(@book.total_rating_count, precision: 0)%></p>
<p>
  <%= strip_tags(@book.description) %>
</p>

<p>
  <b>Publisher: </b>
  <%= @book.publisher_name %>
</p>

<p>
  <b>Published date:</b>
  <%= @book.published_date %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@book.unit_price) %>
</p>

<%= link_to 'Back', books_path %>
