

<br />
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @books.each do |book| %>
  <div class="entry">
    <%= image_tag(book.photo_url) %>
    <h3><%= book.title %></h3>
    <p><%= sanitize(book.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(book.unit_price) %></span>
    </div>
  </div>
<% end %>
