<!DOCTYPE html>
<html>
<head>
  <title>Max's Online Bookstore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Max Bookshelf" %>
    <div id="time">
      <%= Time.now %>
    </div>
  </div>

  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to 'Home', users_url %></li>
        <li><%= link_to 'Log In', login_url %></li>
        <li><%= link_to 'Register', users_url + '/new' %></li>
        <li><%= link_to 'Forgot password?', password_reset_url %></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
