<!DOCTYPE html>
<html>
<head>
  <title>Max's Online Bookstore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Max Bookshelf" %>
    <div id="time">
      <%= Time.now %>
    </div>
  </div>

  <div id="columns">
    <div id="side">
      <ul class="nav nav-pills nav-stacked" >
        <li><%= link_to raw("<i class='icon-home icon-white'></i> Home"), store_url %></li>
        <% if session[:role] %>
          <li><h3>User Panel</h3></li>        
          <li>
            <%= link_to raw("<i class='icon-edit icon-white'></i> Edit account information"), edit_user_url(session[:user_id]) %>
          </li>
          <li><%= link_to 'Log out', logout_url, method: :delete %></li>
          <% if session[:role] == "admin" %>
          <li><h3>Admin Panel</h3></li>      
          <li><%= link_to raw('User List'), users_url %></li>
          <li><%= link_to raw('Book List'), books_url %></li>
          <li><%= link_to raw('Category List'), categories_url %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Log In', login_url %></li>
          <li><%= link_to 'Register', new_user_url %></li>
          <li><%= link_to 'Forgot password?', password_reset_url %></li>
        <% end %>
      </ul>
      <h3 class="sidebar-title">Search</h3>
          <%= form_tag(book_search_url, class: "better-search-bar option") do |f| %>
          Search by:
          <div class="right">
            <div class="btn-group" data-toggle="buttons">
              <label>
                <input type="radio" name="search_type" id="pig" value="author"> Author Name
              </label>
              <label>
                <input type="radio" name="search_type" id="splunk" checked=true value="title"> Title
              </label>
            </div>    
          </div>
            <%= search_field_tag :search_input, "", class: "search-query span2" %>
            <button class='btn right'>
              <i class='icon-search'></i>
            </button>
            Choose a category: 
            <% @options = Category.all.map{|c| [c.name, c.id]} %>
            <% @options << ["All categories","all"] %>
            <%= select_tag :search_category, options_for_select(@options, "all") %>
          <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
